[user]
	name = Sascha Selzer
	email = sascha.selzer@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
[delta]
	features = catppuccin-macchiato
[core]
	pager = delta
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
